* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: monospace;
}

img {
	max-width: 100%;
	height: auto;
}

header {
	background-image: url(assets/banner-bg.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	z-index: -1;
	padding: 10px 20px;
}

.main-nav {
	list-style: none;
	display: flex; /* Coloca los elementos del menú en línea */
	gap: 20px; /* Espacio entre los elementos del menú */
}

.main-nav li {
	display: inline-block;
}

.main-nav li a {
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	z-index: 0;
    position: relative;
}

.main-nav li.active a {
	border-bottom: 1px solid white;
}

.main-nav li a:hover {
	border-bottom: 1px solid white;
}

.logo {
	width: 100px;
	height: auto;
	width: auto;
	float: left;
	margin: 30px 0 0 0;
	height: 50px; /* Altura del logo */
}

/* Logo */
.logo img {
	height: 200px; /* Altura del logo */
  }

.row {
	display: flex;
  align-items: center; /* Alinea verticalmente el logo y el menú */
  justify-content: space-between; /* Separa el logo (izquierda) y el menú (derecha) */
  max-width: 1200px;
  margin: 0 auto; /* Centra horizontalmente el contenedor */
}

.hero {
	position: relative;
	/* top: 100px;
	width: 100%; */


	display: block; /* Usamos Flexbox */
	align-items: center; /* Alineamos verticalmente los elementos */
	justify-content: space-between; /* Logo a la izquierda, menú a la derecha */
	max-width: 1200px; /* Ancho máximo del contenedor */
	margin: 0 auto; /* Centramos el contenedor horizontalmente */
}

h1 {
	font-family: "Roboto", sans-serif;
	color: white;
	text-transform: uppercase;
	font-size: 70px;
	text-align: center;
	margin-top: 300px;
}

.button {
	text-align: center;
	margin-top: 50px;
	display: flex; /* Usamos Flexbox para los botones */
	gap: 20px; /* Espacio entre los botones */
	flex-direction: column; /* Apila los botones verticalmente */
	align-items: center; /* Centra los botones horizontalmente */

}

.btn {
	font-family: "Roboto", sans-serif;
	border: 1px solid white;
	padding: 10px 30px;
	color: white;
	margin-right: 5px;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn-one {
	background-color: darkorange;
}

.btn-two:hover {
	background-color: darkorange;
	transition: all 0.2s ease-in;
}

.grid-container {
	display: grid;
  	grid-template-columns: auto auto;
  	padding: 10px;
}

.grid-item {
	padding: 20px;
}

.service {
	background-image: url(assets/img-banner@2x.png);
	height: 100vh;
	background-size: cover;
	background-position: center;
        z-index: -1;
}

.about {
	background-image: url(assets/DSC_0036.JPG);
	height: 100vh;
	background-size: cover;
	background-position: center;
        z-index: -1;
}

.blog {
	background-image: url(assets/banner-texture@2x.png);
	height: 100vh;
	background-size: cover;
	background-position: center;
        z-index: -1;

}

.contact {
	background-image: url(assets/img-contact-form-bg.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
        z-index: -1;
}

.faq {
	background-image: url(assets/img-prop-type@2x.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
        z-index: -1;
}

.contact-form {
	font-family: "Arial", "Helvetica", sans-serif;
	margin: auto;
	padding: 0 200px;
	z-index: 0;
    position: relative;
}

.contact-section-header {
	color: #282828;
	font-family: "Roboto", sans-serif;
	font-size: 25px;
	margin-bottom: 20px;
}

.form input, textarea {
	font-size: 20px;
	text-decoration: none;
	outline: none;
	width: 70%;
	height: 60px;
	padding-left: 10px;
	border-radius: 6px;
	border: none;
	margin: 5px 0;
}

.form input.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 71%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
 }

input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
 }

 .subject {
 	height: 150px;
 	color: black;
 }

@media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  	.blog {
    	background-image: url(assets/banner-texture@2x.png) !important;
	        z-index: -1;
  	}

  	.faq {
    	background-image: url(assets/img-prop-type@2x.jpg) !important;
	        z-index: -1;
  	}
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    pointer-events: none;
}
